body {
  background-color: $white;
  color: $dark-gray;
}

.wrapper {
  @include row;
  @include outer-container;
  @include padding(0 20px);
  @include media($desktop) {
    @include padding(0);
  }
}

img {
  width: 100%;
  height: auto;
}
