.showcase {
  @include outer-container;
  padding: 80px 0;
  &__gallery {
    .gallery {
      &__project {
        margin-bottom: 80px;
        @include media($mobile-only) {
          @include span-columns(12);
          @include omega();
        }
        @include media($tablet-only) {
          @include span-columns(6);
          @include omega(2n);
        }
        @include media($laptop-only) {
          @include span-columns(4);
          @include omega(3n);
        }
        @include media($desktop) {
          @include span-columns(3);
          @include omega(4n);
        }
        figure {
          @include transition(background 10s ease-in-out);
          border: $black 3px solid;
          margin: 20px 0 0 0;
          padding: 20px 0 25px;
          text-transform: uppercase;
          text-align: center;
          &:hover {
            @include transition(background 10s ease-in-out);
            background: linear-gradient(to bottom right, rgba(0,0,0,.4), rgba(0,0,0,.8)), image-url('assets/images/project.gif');
          }
          &:hover h4, &:hover h5 {
            @include transition(all .15s ease-in-out);
            color: $white;
          }
          h2 {
            color: $black;
            font-size: $base-font-size / 1.5;
            font-weight: 700;
            margin-bottom: 5px;
          }
          h3 {
            color: $dark-gray;
            font-size: $base-font-size / 1;
            font-weight: 300;
            margin-bottom: 0;
          }
        }
      }
    }
    a {
      display: inline-block;
    }
  }
  img {
    display: block;
    &:hover {
      @include transition(all .2s ease-in-out);
      transform: scale(1.05);
    }
  }
}
