---
title: Jen Arevalo Visual Designer & Illustrator
---
.hero.hero--work
.summary
  .wrapper
    .summary__photo
      %img{:src => "../assets/images/work/lettering-hero.jpg", :title => "Lettering", :alt => "Lettering"}
      .photo__flag
        %p
          Art Direction
        %h3
          Lettering
    .summary__title
      %h1
        Lettering
      %p
        Because you can never find a perfect typeface
    .summary__credits
      %ul
        %li 
          Client: Various
        %li
          Role: Lettering
    .summary__description
      %p
        I've always been told I have very neat handwriting. There's something about repeating words over and over until it's been perfected. The various forms of lettering projects span from motivational posters, to shirts, weddings, Christmas card and getting awareness out about the next political candidate.
.details
  .wrapper
    %img{:src => "../assets/images/work/lettering-party.jpg", :title => "It's not a party if it happens every night", :alt => "It's not a party if it happens every night"}
.details
  .wrapper
    .details__split
      %img{:src => "../assets/images/work/lettering-embrace.jpg", :title => "Embrace the good", :alt => "Embrace the good"}
    .details__split
      %img{:src => "../assets/images/work/lettering-express.jpg", :title => "Express yourself", :alt => "Express yourself"}
.details
  .wrapper
    %img{:src => "../assets/images/work/lettering-together.jpg", :title => "Together shirt", :alt => "Together shirt"}
    %img{:src => "../assets/images/work/lettering-jrsr.jpg", :title => "Move Your Feet poster", :alt => "Move Your Feet poster"}
.details
  .wrapper
    .details__split
      %img{:src => "../assets/images/work/lettering-xmas.jpg", :title => "Merry Christmas ya filthy animal", :alt => "Merry Christmas ya filthy animal"}
    .details__split
      %img{:src => "../assets/images/work/lettering-wedding.jpg", :title => "Wedding invite", :alt => "Wedding invite"}
.details
  .wrapper
    %img{:src => "../assets/images/work/lettering-ballot.jpg", :title => "Ballots and Brews", :alt => "Ballots and Brews"}
= partial "shared/contact"
