.contact
  .wrapper
    %h1 Let's work together.
    %p New projects, ideas, or if you’d like to collaborate…
    %a{:href => "mailto:jensarevalo@gmail.com", :target => "_blank"}
      %button{:type => "button"} Message me
