%footer
  .wrapper
    %ul.social
      %li
        %a{:href => "http://dribbble.com/homey", :target => "_blank"} Dribbble
      %li
        %a{:href => "http://twitter.com/jensif", :target => "_blank"} Twitter
      %li
        %a{:href => "http://instagram.com/homeydontplaythat", :target => "_blank"} Instagram
      %li
        %a{:href => "http://linkedin.com/in/jenarevalo", :target => "_blank"} LinkedIn
      %li
        %a{:href => "mailto:jensarevalo@gmail.com", :target => "_blank"} Contact
    %ul.location
      %li Made with ⛅️ in Florida
