%footer
  .wrapper
    %ul.social
      %li
        %a{:href => "http://dribbble.com/homey", :target => "_blank"}
          %i.zmdi.zmdi-dribbble
      %li
        %a{:href => "http://twitter.com/jensif", :target => "_blank"}
          %i.zmdi.zmdi-twitter
      %li
        %a{:href => "http://instagram.com/homeydontplaythat", :target => "_blank"}
          %i.zmdi.zmdi-instagram
      %li
        %a{:href => "http://linkedin.com/in/jenarevalo", :target => "_blank"}
          %i.zmdi.zmdi-linkedin
      %li
        %a{:href => "mailto:jensarevalo@gmail.com", :target => "_blank"}
          %i.zmdi.zmdi-email
    %ul.location
      %li Made with ⛅️ in Florida
