.callout {
  @include pad(40px 0);
  @include margin(60px 0);
  background-color: $black;
  color: $white;
  p {
    @include pad(0 30px);
    @include media($laptop) {
      @include pad(0 70px);
    }
    a {
      @include transition(.3s);
      text-decoration: none;
      border-bottom: 2px solid $white;
      color: $white;
      &:hover, &:focus {
        color: $dark-yellow;
        border-color: $dark-yellow;
      }
    }
  }
  &--quote {
    position: relative;
    padding-top: 100px;
    text-align: center;
    p {
      @include pad(0);
      margin-top: 20px;
      @include media($laptop) {
        @include pad(0 240px);
      }
      &::before, &::after {
        position: absolute;
        top: -50px;
        font-size: 160px;
        font-family: 'Arial Black';
        line-height: 1;
        color: $dark-yellow;
      }
      &::before {
        content: "\201C";
        left: 30%;
        @include media($tablet) {
          left: 35%;
        }
        @include media($laptop) {
          left: 40%;
        }
        @include media($desktop) {
          left: 43%;
        }
      }
      &::after {
        content: "\201D";
        right: 30%;
        @include media($tablet) {
          right: 35%;
        }
        @include media($laptop) {
          right: 40%;
        }
        @include media($desktop) {
          right: 43%;
        }
      }
    }
    cite {
      @include pad(0 240px);
      font-style: normal;
      font-weight: 300;
      font-size: $base-font-size / 1.35;
    }
  }
}
