---
title: Jen Arevalo UI/X Designer + Developer
---
.hero.hero--compact
.profile
  .wrapper
    .info__split
      .profile__photo
        = image_tag("about/headshot.jpg", {:title => "Jen", :alt => "Jen"})
        %figcaption
          Photography: Shane Santiago
    .info__split
      %h2
        Hello! I'm Jen
        %a{:href => "#", :title => "(ar-eh-vah-lo)"} Arevalo,
        mononymously known as Homey, and I'm a UI/X designer + developer.
      %p
        I am currently a senior digital designer at TIAA Bank developing tools to help customers reach their financial goals through online and mobile app experiences.
      %p
        In addition to designing user-centered digital products and being a champion of accessibility, I also serve as President for
        %a{:href => "https://jacksonville.aiga.org/", :target => "_blank"} AIGA Jacksonville
        &mdash; a local chapter of the nation’s largest community of design advocates.
      %p
        A lover of learning and advancing design, you can find me deep in research as I'm presently pursuing an MA in Communication at Johns Hopkins University to bridge the gap between human behavior and interactions with technology.
      %h1
        A few of my favorite things.
      %p
        Art Direction / Animation / Branding / Content Generation / Coding (HTML/CSS Frameworks/JS/Haml/Sass) / Design Thinking / Git /
        %a{:href => "../work/illustrations", :target => "_blank"} Illustration /
        Information Architecture / Interface Design /
        %a{:href => "../work/lettering", :target => "_blank"} Lettering /
        Motion Graphics /
        %a{:href => "../work/posters", :target => "_blank"} Poster Design /
        Rapid Prototyping / Social Media Strategy / User Flows /
        %a{:href => "../work/theoffice", :target => "_blank"} Video Editing /
        Visual Design / Web Accessibility, Usability, and Inclusion / Wireframing
.callout
  .wrapper
    .callout__companies
      %h1
        In great company!
      %p
        A collective of amazing people and teams I've connected with and learned from along the way.
        = image_tag("about/companies.png", {:title => "companies", :alt => "companies"})
= partial "shared/contact"
