---
title: Jen Arevalo UI/X Designer + Developer
---
.hero.hero--compact
.profile
  .wrapper
    .info__split
      .profile__photo
        = image_tag("about/headshot.jpg", {:title => "Jen", :alt => "Jen"})
        %figcaption
          Photography: Shane Santiago
    .info__split
      %h2
        Hello! I'm Jen
        %a{:href => "#", :title => "(ar-eh-vah-lo)"} Arevalo,
        mononymously known as Homey, and I'm a UI/X designer + developer.
      %p
        Function and aesthetics are my bread and butter for building a personable brand experience. My passion for design stems from a lifelong fascination of creatively solving problems. I'm currently an experience designer and front-end developer at an ad agency, and I serve as Vice President for
        %a{:href => "https://jacksonville.aiga.org/", :target => "_blank"} AIGA Jacksonville,
        a local chapter of the nation’s largest community of design advocates, promoting the value of design.
      %p
        While my focus is on user interactions and the functional experience, I'm a lover of learning and advancing design. Being an interdisciplinary designer has provided a wide lens on how to work with small and large teams and move through projects with high-level analysis of end-to-end user experiences.
      %h1
        A few of my favorite things.
      %p
        Art Direction / Animation / Branding / Content Generation / Coding (HTML/CSS Frameworks/JS/Haml/Sass) / Design Thinking / Git /
        %a{:href => "work/illustrations", :target => "_blank"} Illustration /
        Information Architecture / Interface Design /
        %a{:href => "work/lettering", :target => "_blank"} Lettering /
        Motion Graphics /
        %a{:href => "work/posters", :target => "_blank"} Poster Design /
        Rapid Prototyping / Social Media Strategy / User Flows /
        %a{:href => "work/theoffice", :target => "_blank"} Video Editing /
        Visual Design / Web Accessibility, Usability, and Inclusion / Wireframing
.callout
  .wrapper
    .callout__companies
      %h1
        In great company!
      %p
        A collective of amazing people and teams I've connected with and learned from along the way.
        = image_tag("about/companies.png", {:title => "companies", :alt => "companies"})
= partial "shared/contact"
