---
title: Jen Arevalo Visual Designer & Illustrator
---
.hero.hero--compact
  .wrapper
    %p
      Hello! I’m Jen Arevalo, a visual designer, and illustrator from Jacksonville, Florida with over 7 years experience in the industry. I have an unabashed love for crafting personal and meaningful design experiences. Function and aesthetics in the digital era are my bread and butter.
.profile
  .wrapper
    .profile__photo
      = image_tag("about/headshot.jpg", {:title => "Jen", :alt => "Jen"})
      %figcaption
        Photography: Jill Devries
    .profile__summary
      %p
        When I’m not pushing pixels, I currently serve as incoming Vice President for AIGA Jacksonville, a local chapter of the nation’s largest community of design advocates. I have a passion for continued learning and advancing design in my hometown of Jacksonville. In my work, coupling design thinking and problem solving are catalysts for enhancing the next big idea.
    .profile__expertise
      %h1
        Expertise
      %p
        Creative Direction / Web / Illustration / Branding / Print / Motion Graphics
    .profile__availability
      %h1
        Availability
      %p
        I’m currently accepting new projects.
      %p
        Let’s work together:
        %a{:href => "mailto:jensarevalo@gmail.com", :target => "_blank"}
          jensarevalo@gmail.com
