---
title: Jen Arevalo UI/X Designer + Developer
---
.hero
  .wrapper
    %h1 ui/x designer + developer
    %img{:src => "assets/images/gem.gif", :title => "Don't be a hard rock when you really are a gem.", :alt => "gem animation"}/
.showcase
  .wrapper
    %ul.showcase__gallery
      %li.gallery__project
        %a{:href => "work/boundlessvr"}
          %img{:src => "assets/images/work/boundlessvr-thumb.jpg", :title => "Boundless Florida VR", :alt => "Boundless Florida VR"}
          %figure
            %h4 Boundless VR
            %h5 UI / UX / Mobile App Design
      %li.gallery__project
        %a{:href => "work/levelup"}
          %img{:src => "assets/images/work/levelup-thumb.jpg", :title => "Level Up", :alt => "Level Up"}
          %figure
            %h4 Level Up
            %h5 Visual Design / Front-End
      %li.gallery__project
        %a{:href => "work/rfm"}
          %img{:src => "assets/images/work/rfm-thumb.jpg", :title => "Ready For More?", :alt => "Ready For More?"}
          %figure
            %h4 Ready For More?
            %h5 Branding / UI / UX / Front-End
      %li.gallery__project
        %a{:href => "work/alwayssummer"}
          %img{:src => "assets/images/work/always-summer-thumb.jpg", :title => "Always Summer", :alt => "Always Summer"}
          %figure
            %h4 Always Summer
            %h5 Creative Direction
      %li.gallery__project
        %a{:href => "work/courageawards"}
          %img{:src => "assets/images/work/courage-awards-thumb.jpg", :title => "Courage Awards", :alt => "Courage Awards"}
          %figure
            %h4 Courage Awards
            %h5 Branding / Print / UX
      %li.gallery__project
        %a{:href => "work/cyanna"}
          %img{:src => "assets/images/work/cyanna-thumb.jpg", :title => "Cyanna", :alt => "Cyanna"}
          %figure
            %h4 Cyanna
            %h5 Visual Design / Front-End
      %li.gallery__project
        %a{:href => "work/wwpimpact"}
          %img{:src => "assets/images/work/wwp-impact-thumb.jpg", :title => "Impact Campaign", :alt => "Impact Campaign"}
          %figure
            %h4 WWP Impact
            %h5 Visual Design / UI / UX
      %li.gallery__project
        %a{:href => "work/ild"}
          %img{:src => "assets/images/work/ild-thumb.jpg", :title => "I Love Design", :alt => "I Love Design"}
          %figure
            %h4 I Love Design
            %h5 Design / Motion Graphics
      %li.gallery__project
        %a{:href => "work/theoffice"}
          %img{:src => "assets/images/work/the-office-thumb.jpg", :title => "Office Mural", :alt => "Office Mural"}
          %figure
            %h4 The Office
            %h5 Video Production
      %li.gallery__project
        %a{:href => "work/doglogapp"}
          %img{:src => "assets/images/work/doglog-thumb.jpg", :title => "DogLog", :alt => "DogLog"}
          %figure
            %h4 DogLog
            %h5 Visual Design / UI / UX
      %li.gallery__project
        %a{:href => "work/portfolio"}
          %img{:src => "assets/images/work/portfolio-thumb.jpg", :title => "Portfolio", :alt => "Portfolio"}
          %figure
            %h4 Portfolio
            %h5 Visual Design / UI / UX
      %li.gallery__project
        %a{:href => "work/thepost"}
          %img{:src => "assets/images/work/the-post-thumb.jpg", :title => "The Post", :alt => "The Post"}
          %figure
            %h4 The Post
            %h5 UI / UX / Data Visualization
= partial "shared/contact"
